.Header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  color: #40b3d2;
  font-size: 35px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}

.Header > div {
  display: flex;
}

.Header .header_center {
  width: 30%;
  font-size: 25px;
  justify-content: center;
}

.Header .header_left {
  width: 25%;
}

.Header .header_right {
  width: 25%;
  justify-content: flex-end;
}
