.Header {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  color: #40b3d2;

  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
  gap: 20px;
}
.Header > div {
  display: flex;
  align-items: center;
}

.Header .header_center {
  font-size: 35px;
  word-wrap: break-word;
  white-space: nowrap;
}

.Header .header_left {
  width: 25%;
  cursor: pointer;
  background-color: white;
  border: none;
}

.Header .header_right {
  width: 25%;
  cursor: pointer;
  background-color: white;
  border: none;
}
.header-image {
  width: 25px; 
  height: auto;
}
