.logout-button {
  position: absolute;
  background-color: #ef7476;
  color: white;
  border: none;
  left: 1110px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f;
}
