.logout-button {
  background-color: #ef7476;
  color: white;
  border: none;
  text-align: center;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: flex-end !important;
  gap: 20px;
  width: 80px;
  height: 34px;
  white-space: nowrap;
}

.logout-button:hover {
  background-color: #d32f2f;
}
.calendar-event-item {
  background-color: #ffe4b5; /* Highlight color for events */
  border-radius: 4px;
  padding: 2px 5px;
  margin-bottom: 2px;
  font-size: 0.8em;
  color: #333;
}
