.logout-button {
  background-color: #ef7476; /* 빨간색 배경 */
  color: white;
  border: none;
  left: 1110px;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f; /* 더 어두운 빨간색 */
}
