.memo-container {
  position: absolute;
  left: 750px;
  top: 870px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  position: absolute;
  left: 70px;
  margin: 10px;
  gap: 20px;
  padding: 10px;
  top: 160px;
  display: flex;
  margin: 5px;
  align-items: center;
}

.memo-input {
  margin: 5px;
  border: 2px solid #f3f3f3;
  position: absolute;
  left: 70px;
  width: 440px;
  height: 155px;
}
