.Bar_chart {
  width: 529px;
  height: 185px;
  position: absolute;
  top: 160px;
  left: 755px;
}

.edit {
  position: absolute;
  top: 750px;
  left: 755px;
}
.Line_chart {
  width: 529px;
  height: 185px;
  position: absolute;
  top: 450px;
  left: 755px;
}
