/* 모달 창의 전체 배경 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;

  justify-content: center;
  z-index: 1000;
}
.schedule-list li {
  display: flex;
  align-items: center; /* 아이템들을 수직 중앙에 정렬 */

  gap: 152px;
  margin-left: 10px;
  text-align: left; /* 텍스트는 왼쪽 정렬 */
  padding: 4px 0;
}
/* 모달 내용 스타일 */
.modal-content {
  background-color: #e9eff0;
  padding: 20px;
  width: 300px;
  height: 600px;
  max-width: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal-content h2 {
  margin-top: 0;
}

/* 입력 폼 레이블 */
.modal-content label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
}

/* 공통 인풋 필드 스타일 */
.modal-content input {
  width: calc(100% - 10px);
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

/* 요일과 시간 선택 부분 스타일 */
.schedule-input {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.schedule-input select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* 추가 버튼 스타일 */
.add-schedule-button {
  background-color: #c8e2e9 !important;
  color: #40b3d2;
  border: none;

  border-radius: 4px;
  cursor: pointer;
}

.schedule-input button:hover {
  background-color: #35a1c8;
}

/* 스케줄 목록 스타일 */
.schedule-list {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
  max-height: 100px;
  overflow-y: auto;
  font-size: 14px;
  color: #333;
}

/* 모달 내의 버튼들 */
.modal-content button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #40b3de;
}

/* 저장 버튼 스타일 */
.modal-content button:first-of-type {
  background-color: #40b3de;
  color: #fff;
}

/* 닫기 버튼 스타일 */
.modal-content button:last-of-type {
  background-color: #fff;
  color: #333;
  margin-left: 10px;
}

/* 버튼들에 마우스 오버 효과 추가 */
.modal-content button:hover {
  opacity: 0.9;
}
.remove-schedule-button {
  background-color: #ff5c5c; /* 빨간색 배경 */
  border: none;
  color: white;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 12px;
  width: 50px; /* 버튼 너비 */
  height: 20px;
  display: flex; /* Flexbox로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center;
  white-space: nowrap;
}
