.StudentItem {
  display: flex;
  align-items: center;
  gap: 18px;
  border-bottom: 2px solid #c8e2e9;
}

.img_section img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.info1 {
  display: flex;
  flex-direction: column;
}

.name {
  align-self: start;
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

.sch {
  font-size: 14px;
  color: #94d2e4;
  font-size: 10px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

.info2 {
  color: #40b3d2;
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  margin-left: auto;
}
