.StudentItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 0px !important;

  border-bottom: 2px solid #c8e2e9;
}

.img_section img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.info1 { 
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  align-self: start;
  color: black;
  font-size: 21px !important;
  font-family: Inter;
  font-weight: 400;
  white-space: nowrap;
}

.sch {
  font-size: 14px !important;
  color: #94d2e4;
  font-size: 10px;
  font-family: Inter;
  font-weight: 400;
  white-space: nowrap;
}

.info2 {
  color: #40b3d2;
  font-size: 18px !important;
  font-family: Inter;
  font-weight: 350;
  white-space: nowrap;

  margin-left: auto;
}
