.TutorItem {
  display: flex;
  align-items: center;
  gap: 18px;
}
.tutorsub {
  color: #40b3d2;
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
.info1 {
  display: flex;
  flex-direction: column;
}

.tutorname {
  color: black;
  font-size: 16px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

.tutorsch {
  font-size: 14px;
  color: #94d2e4;
  font-size: 10px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

.reward {
  color: #40b3d2;
  font-size: 13px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
