html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: flex-start;
}

.logo {
  width: 200px !important;
  height: auto !important;
  object-fit: contain !important;
  overflow: visible !important; 
}

.home-container {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  width: 120%;
}

.home-container button {
  width: 140px;
  height: 45px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-text {
  white-space: pre-line;
  text-align: right;
  font-size: 50px;
  font-weight: bold;
}

.left-text {
  white-space: pre-line;
  text-align: left;
  font-size: 50px;
  font-weight: bold;
}

.center-left-image {
  position: relative;
  width: 100%;
  max-width: 998.4px;
  height: auto;
  margin: 20px 0;
  right: 0;
}

.left-text-right-image {
  flex-direction: row;
}

.right-text-left-image {
  flex-direction: row-reverse;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
}

.scroll-item {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 100px;
  padding: 0px;
  width: 130%; 
}

.scroll-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.start-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.start-button-container Button {
  width: 362px;
  height: 50px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}
