.logo {
  position: absolute;
  top: 50px;
  left: 25px;
  width: 140px;
  height: 68px;
}

.home-container {
  display: flex;
  justify-content: right;
  gap: 20px;
  margin-top: 20px;
}
.home-container button {
  width: 160px;
  height: 50px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-text {
  white-space: pre-line;
  text-align: right;
  font-size: 50px;
  font-weight: bold;
}

.left-text {
  white-space: pre-line;
  text-align: left;
  font-size: 50px;
  font-weight: bold;
}

.center-left-image {
  position: relative;
  width: 100%;
  max-width: 768px;
  height: auto;
  margin: 20px 0;
  right: 0;
}

/* 짝수번째 (index % 2 === 0) 아이템 텍스트 왼쪽, 이미지 오른쪽 */
.left-text-right-image {
  flex-direction: row;
}

/* 홀수번째 (index % 2 !== 0) 아이템 텍스트 오른쪽, 이미지 왼쪽 */
.right-text-left-image {
  flex-direction: row-reverse;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 20px;
}

.scroll-item {
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 50px;
  padding: 0px;
}

.scroll-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.start-button-container Button {
  width: 362px;
  height: 50px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
