.logo {
  position: absolute;
  top: 50px;
  left: 25px;
  width: 140px;
  height: 68px;
}
.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 27px 26px;
  gap: 20px;
}
.home-container button {
  width: 160px;
  height: 50px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.centered-text {
  position: absolute;
  top: 368px;
  right: 103px;
  font-size: 50px;
  color: #333;
  font-weight: bold;
}

.center-left-image {
  position: absolute;
  top: 158px;
  left: 66px;
  width: 768px;
  height: 468px;
}
