.Parents_Progress {
  position: absolute;
  background-color: var(--First-Blue, #40b3d2);
  width: 174px;
  height: 35px;
  border-radius: 10px;
  left: 315px;
  top: 99px;
}
.Parents_Memo {
  position: absolute;
  left: 315px;
  top: 600px;
}

.Parents_fee {
  position: absolute;
  left: 815px;
  top: 99px;
}
.Parents_Score {
  position: absolute;
  left: 815px;
  top: 250px;
}
