.parents_container {
  display: flex;
  height: 100%;
  justify-content: center;
}
.parents-left-section {
  flex: 1;
  padding: 10px;
  margin-left: -250px;

  flex-direction: column;
}
.parents-right-section {
  flex: 1;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 140px;
  gap: 400px;
}
.parents-right-section2 {
  flex: 1;
  margin-top: 50px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 180px;
  gap: 120px;
}
.homelogo {
  width: 180px;
  margin-left: 20px;
}
.minicalendar {
  margin-top: 40px;
}
.TutorList {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  position: relative;
}
.phlogout {
  margin-left: 40px;
}
