.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 80px;
}

.calendar {
  display: flex;
  gap: 0;
  padding: 0;
  margin-right: 93px;
}
/* Tutor.css */
.day-section {
  border-bottom: 1px solid #c8e2e9;
  padding-bottom: 280px;
  margin-bottom: 10px;
  border-left: 1px solid #c8e2e9;
}
.day-section:last-child {
  border-right: 1px solid #c8e2e9;
}
.day-content {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}

.week-progress {
  position: absolute;
  top: 505px;
  left: 340px;
}

.week-homework {
  position: relative;
  left: 430px;
}

.small-text {
  font-size: 15px;
}

.header-container {
  position: absolute;
  top: 42px;
  left: 340px;
}
.logo {
  position: absolute;
  /* top: 50px; */
  left: 82px;
  width: 100px;
  height: 40px;
}
.TutorList {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 19px;
  top: 377px;

  left: 55px;
}

.total-reward img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.total-reward {
  display: flex;
  margin-top: 29px;
  align-items: center;
  gap: 8px;
  font-size: 30px;
  font-family: Inter;
  font-weight: 500;
}

.day-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.time-blocks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hour-block {
  padding: 8px;
  border-top: 1px solid #ddd;
}

.content-item {
  margin: 4px 0;
}

.student-box-container {
  display: flex;
  gap: 250px;
}
.WeekProgress {
  position: absolute;
  top: 505px;
  left: 340px;
}
.WeekAssignment {
  position: absolute;
  top: 505px;
  left: 804px;
}
.StudentAchievement {
  margin-top: 40px;
}
