.add-tutor-button {
  margin-top: 10px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
}
.TutorList {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 19px;
  top: 380px;
  left: 55px;
}
.box-container {
  position: absolute;
  top: 30px;
}
.exam_result {
  position: absolute;
  top: 380px;
  left: 330px;
}

.logo {
  position: absolute;
  top: 44px;
  left: 94px;
  width: 100px;
  height: 40px;
}
.CalendarHeader {
  position: absolute;
  top: 42px;
  left: 340px;
}
.StudentAchievement {
  position: absolute;
  top: 606px;
  left: 54px;
}

.StudentManager_box-container {
  position: absolute;
  top: 80px;
  left: 330px;
  display: flex;
  gap: 350px;
}
