.studentcontainer {
  display: flex;
  height: 100%; /* 화면 전체 높이 */
  justify-content: center;
}
.homelogo {
  width: 180px;
  margin-left: 20px;
}
.left-section {
  flex: 1;
  padding: 10px;

  flex-direction: column;
}
.right-section {
  flex: 3;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}
.header-container {
  margin-left: -60px;
  margin-bottom: 15px;
}
.minicalendar {
  margin-top: 40px;
}
.TutorList {
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  gap: 19px;
  position: relative;
}
.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.calendar {
  display: flex;
  gap: 0;
  padding: 0;
}

.day-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.time-blocks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hour-block {
  padding: 8px;
  border-top: 1px solid #ddd;
}

.content-item {
  margin: 4px 0;
}
.small-text {
  font-size: 15px;
}
.day-section {
  border-bottom: 1px solid #c8e2e9;
  padding-bottom: 300px;
  margin-bottom: 10px;
  border-left: 1px solid #c8e2e9;
}
.day-section:last-child {
  border-right: 1px solid #c8e2e9;
}
.day-content {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}
.boxes {
  display: flex;
  gap: 290px;
  margin-top: 10px;
}
.studentach {
  margin-top: 120px !important;
}
