.StudentLayout {
  display: flex;
  gap: 60px;
}

.StudentManager_Score-container .Bar_chart {
  display: none;
}
.studentrow {
  display: flex;
  justify-content: space-between;
  width: 100%;

  gap: 70px;
}
.weeknoti {
  display: flex;
  flex-direction: row;
  gap: 500px;
}

.studentonerow {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.studenttworow {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.M_TutorList {
  display: flex;
  flex-direction: column;
  gap: 19px;
}
