.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 128px; /* 전체 컨테이너의 위쪽 여백 */
}

.calendar {
  display: flex;
  gap: 0; /* 버튼 사이 공백 제거 */
  padding: 0;
  margin-right: 93px; /* 전체 버튼 그룹을 오른쪽에서 93px 떨어뜨림 */
}

.day-content {
  margin-top: 20px; /* 버튼과 내용 사이의 간격 */
  font-size: 18px;
  font-weight: 400;
  color: #333;
}
.box-container {
  position: absolute;
  top: 505px; /* 위에서 505px */
  right: 766px; /* 오른쪽에서 766px */
}
