.MainLayout {
  display: flex;

  gap: 60px;
}

.LogoutContainer {
  display: flex;
  justify-content: flex-end;
}

/* .MiniCalendar {
  width: 300px; 
  height: 400px; 
} */
.row {
  display: flex;
  justify-content: space-between;
  width: 100%;

  gap: 70px;
}

.onerow,
.towrow {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.leftoption {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
