.tutorcalendar {
  display: flex;
  height: 100%; /* 화면 전체 높이 */
  justify-content: center;
}
.tchomelogo {
  width: 180px;
  margin-left: 25px !important;
}
.left-section {
  flex: 1;
  padding: 10px;

  flex-direction: column;
}
.weeksummary p {
  margin-top: 40px;
  color: #759097;
  font-family: Inter;
  font-size: 18px;
  width: 100%;
  height: 38px;
  border-radius: 10px;
  background: #e9eff0;
  border: none;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.StudentList {
  margin-top: 128px !important;
  display: flex;
  flex-direction: column;
  gap: 19px;
  position: relative;
}
.tutormaincalendar {
  margin-left: 60px;
}
.tutorcalendar_logout {
  margin-left: -140px;
  margin-top: -30px;
}
