.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 128px;
}

.calendar {
  display: flex;
  gap: 0;
  padding: 0;
  margin-right: 93px;
}

.day-content {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
}
.box-container {
  position: absolute;
  top: 505px;
  right: 766px;
}
.header-container {
  position: absolute;
  top: 42px;
  left: 340px;
}
.logo {
  position: absolute;
  top: 50px;
  left: 82px;
  width: 100px;
  height: 40px;
}
.StudentList {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 19px;
  top: 377px;
  left: 55px;
}

.total-fee img {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.total-fee {
  display: flex;
  margin-top: 29px;
  align-items: center;
}

.day-content {
  display: flex;
  flex-direction: column;
}
.time-blocks {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hour-block {
  padding: 8px;
  border-top: 1px solid #ddd;
}

.content-item {
  margin: 4px 0;
}
